@tailwind base;
@tailwind components;
@font-face {
  font-family: 'TanoheSansRegular';;
  src:  url(./assets/fonts/TanoheSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Enigmatic';
  src:  url(./assets/fonts/EnigmaB_2.ttf) format('truetype');
}
@tailwind utilities;


